<%- include('../partials/metadata.ejs') %>
<header class="site-header">
    <!--Club Logo-->
    <div class="masthead" >
        <div class="home-link" title="HAZE" rel="home">
            <h1 class="site-title" style="margin-top: 15%;">HAZE</h1>
            <h2 class="site-decription">Halton Homebrew Club</h2>
        </div>
        <img src="/images/haze.png" alt="HAZE Homebrew Club">
    </div>

    <!--Nav Bar-->
    <div id="navigation-bar" class="container">
        <%- include('../partials/nav.ejs') %>
    </div>
    
</header>