<%- include('../partials/masthead.ejs') %>

<!--Google Calendar-->
<div class="container text-center mb-3">
    <div class="calendar-title mb-3">
        <h1>Events Calendar</h1>
        <hr/>
        <p>While viewing of the events calendar is public to partake in the events you will need to be a member in good standing</p>

        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FToronto&showTitle=0&showTabs=0&showPrint=0&showCalendars=0&showTz=0&src=aGF6ZWhvbWVicmV3Y2x1YkBnbWFpbC5jb20&src=ZW4uY2FuYWRpYW4jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%230B8043" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>