
	<link rel="stylesheet" href="/stylesheets/loginStyle.css">
	<!--Masthead-->
	<%- include('../partials/masthead.ejs') %>
	<body>
		
		<div id="loginForm" class="LoginForm">
			<div class="container-md">
				<h1>Login To View Your Profile</h1>
			<% if(loginFailed) { %>
				<div class="alert alert-danger" role="alert">
					Incorrect Email or Password
				</div>
			  <% } %>
			<form action="/auth/Request" method="POST">
				<input  class="userInput form-control " type="email" name="email" placeholder="Email" id="emailInput" required>
				<input  class="userInput form-control " type="password" name="password" placeholder="Password" id="passwordInput" required>
				<button id="loginBtn" class="btn btn-outline-primary" type="submit">
					Login
				</button>
			</form>
			<hr>
			<p class="text-xs-center">Don't have an account? <a href="/register">Register</a></p>
		</div>

			
		<div id="spinner" hidden="true" class="container loadingContainer">
			<div class="spinner-border text-primary" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
			<h2>Please Wait.... Checking User Login</h2>
		</div>

	<script>
		
		//Capture DOM elements
		const spinner = document.getElementById('spinner')
		if(loginBtn){
			//Create event listener
			loginBtn.addEventListener('click',() => {
				//hide form and show spinner
				spinner.hidden = false
			})
		}
	</script>
	</body>
</html>