<%- include('../partials/masthead.ejs') %>

<div class="container" style="margin: 5em auto">
    <h1>You Do Not Have Permission To View This Page</h1>
    <p>Log in or register to use member features</p>
</div>
