<%- include('../partials/masthead.ejs') %>
<%- include('../partials/userinformation.ejs') %>

<div class="container text-center">
    <h2 class="mb-5" style="padding: 2em 0;">Fill Out The Form Below To Create A Shopping List</h2>
    <form method="post" action="/shoppingList/create" style="max-width: 950px; margin: 0 auto;">
        <input hidden name="_csrf" value="<%=csrfToken%>"/>
        <% if(!shoppingList.list_name) {%>
            <div class="row">
                <div class="col">
                    <input class="form-control mb-3" type="text" name='list_name' placeholder="Enter Shopping List Name" style="max-width: 30em;" required>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-dark">Submit List</button>
                </div>
            </div>
            
        <% }else {%>
            <input class="form-control mb-3" type="text" name='list_name' value="<%= shoppingList.list_name %>" placeholder="Enter Shopping List Name">
        <% } %>
        
        <table id="listTable" class="table text-center" data-toggle="table">
            <thead>
                <tr>
                    <th data-sortable="true">Item Name</th>
                    <th data-sortable="true">Item Description</th>
                    <th data-sortable="true">Amount</th>
                    <th data-sortable="true">Unit</th>
                    <th data-sortable="true">Price</th>
                </tr>
            </thead>
            <tbody>

                    <td><input  class="form-control " type="text" name="item_name"></td>
                    <td><input  class="form-control " type="text" name="item_desc"></td>
                    <td><input  class="form-control" type="number" name="amount"></td>
                    <td><input  class="form-control" type="text" name="unit"></td>
                    <td><div class="input-group">
                    <span class="input-group-text">$</span>
                    <input  class="form-control " type="number" name="price">
                    </div>
                </td>
                <td><button class="btn" type="button"><img src="/images/plus-square-fill.svg" width="32px" onclick="AddRow()"/></button></td>
            </tbody>
        </table>
        
    </form>
</div>

<script>
    function AddRow() {
        const rowData = '<td><input  class="form-control " type="text" name="item_name"></td>' +
                    '<td><input  class="form-control " type="text" name="item_desc"></td>' +
                    '<td><input  class="form-control" type="number" name="amount"></td> '+
                    '<td><input  class="form-control" type="text" name="unit"></td> ' +
                    '<td><div class="input-group"> ' +
                    '<span class="input-group-text">$</span> ' +
                    '<input  class="form-control " type="number" name="price">' +
                    '<td><button class="btn" type="button"><img src="/images/plus-square-fill.svg" width="32px" onclick="AddRow()"/></button></td>'
       var table = document.getElementById("listTable").getElementsByTagName('tbody')[0];
       var newRow = table.insertRow(table.rows.length);
       newRow.innerHTML = rowData;

    }
</script>